@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Check your mail";
    Layout = "_AuthenticationLayout";
}

<div class="card signin-custom-card">
    <div class="card-body">
        <h2 class="fw-bold text-center">@ViewData["Title"]</h2>
    </div>
    <p class="text-center mt-3">
        We’ve sent instructions for resetting your password to
    </p>
    <button class="w-100 btn btn-lg btn-primary mt-4 mb-4">Got it</button>
    <p class="text-center mt-3 display-11">
        Didn’t get email? <br/>
        Check your Junk Mail folder or give it some time. If you still don’t have any luck, contact <a asp-area="" asp-controller="Home" asp-action="CustomerService" target="_blank">Customer Service</a>
    </p>
</div>